In [1]:
import re
import pandas as pd 
import numpy as np 
import string
import nltk
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)

Using TensorFlow backend.

In [2]:
data=pd.read_csv('data.csv')
data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [3]:
data.tail()

          id  label                                              tweet
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

In [4]:
#removing twitter handles i.e.@user
def remove_pattern(text,pattern):
    # re.findall() finds the pattern i.e @user and puts it in a list for further task
    r = re.findall(pattern,text)
    # re.sub() removes @user from the sentences in the dataset
    for i in r:
        text = re.sub(i,"",text)
    return text
data['Tweets'] = np.vectorize(remove_pattern)(data['tweet'], "@[\w]*")
data.head()

,id,label,tweet,Tweets
0,1,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

In [5]:
#removing punctuations, numbers and special characters
data['Tweets'] = data['Tweets'].str.replace("[^a-zA-Z0-9#]", " ")
data['Tweets'] = data['Tweets'].str.replace("[!#$%&\'()*+,-./:;<=>?[\\]^_`{|}~]", " ")
data.Tweets = data.Tweets.str.replace('\s+', ' ')
data.head()

C:\Users\user\Anaconda3\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

C:\Users\user\Anaconda3\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\Anaconda3\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

,id,label,tweet,Tweets
0,1,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so self...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit i can t use cause they...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in ur
4,5,0,factsguide: society now #motivation,factsguide society now motivation

In [6]:
data[data.isnull().any(axis=1)]

Empty DataFrame
Columns: [id, label, tweet, Tweets]
Index: []

In [7]:
print(data[ data['label'] == 0].size)
print(data[ data['label'] == 1].size)

118880
8968

In [8]:
for idx,row in data.iterrows():
    row['Tweets'] = row['Tweets'].replace('rt',' ')

In [9]:
max_fatures = 1600
tokenizer = Tokenizer(num_words=max_fatures, split=' ')
tokenizer.fit_on_texts(data['Tweets'].values)
X = tokenizer.texts_to_sequences(data['Tweets'].values)
X = pad_sequences(X)

In [10]:
from keras import backend as K
def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [11]:
embed_dim = 128
lstm_out = 192

model = Sequential()
model.add(Embedding(max_fatures, embed_dim,input_length = X.shape[1]))
model.add(SpatialDropout1D(0.4))
model.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(2,activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics=['acc',f1_m])
print(model.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 39, 128)           204800
_________________________________________________________________
spatial_dropout1d_1 (Spatial (None, 39, 128)           0
_________________________________________________________________
lstm_1 (LSTM)                (None, 192)               246528
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 386
=================================================================
Total params: 451,714
Trainable params: 451,714
Non-trainable params: 0
_________________________________________________________________
None

In [12]:
from keras.utils import to_categorical
Y=to_categorical(data['label'])
Y

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.33, random_state = 42)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(21414, 39) (21414, 2)
(10548, 39) (10548, 2)

In [14]:
batch_size = 32
model.fit(X_train, Y_train, epochs = 5, batch_size=batch_size, verbose=0)

C:\Users\user\Anaconda3\envs\tensorflow_env\lib\site-packages\tensorflow_core\python\framework\indexed_slices.py:433: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

In [15]:
loss, accuracy, f1_score = model.evaluate(X_test, Y_test, verbose = 2, batch_size = batch_size)

In [16]:
print("loss: %.5f" % (loss))
print("accuracy: %.5f" % (accuracy))
print("f1-score: %.5f" % (f1_score))

loss: 0.15427
accuracy: 0.95070
f1-score: 0.95059